#!/usr/bin/make -f

export GOTELEMETRY = off

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf debian/.debhelper debian/irgsh-cli
	rm -f debian/debhelper-build-stamp debian/files debian/*.substvars
